<div id="customers" class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h2><b>Customers</b></h2>
            </div>
            <div class="col-sm-4">
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    <input type="text" class="form-control" placeholder="Name&hellip;">
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Pin Code</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer, index) { %>
            <tr>
                <td><%= customer.name %></td>
                <td><%= customer.address %></td>
                <td><%= customer.city %></td>
                <td><%= customer.pinCode %></td>
                <td><%= customer.country %></td>
                <td>
                    <a href="#" class="view" title="View" data-toggle="tooltip">
                        <i class="material-icons">&#xE417;</i>
                    </a>
                    <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                        <i class="material-icons">&#xE254;</i>
                    </a>
                    <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                        <i class="material-icons">&#xE872;</i>
                        <input type="hidden" id="custId" name="custId" value="<%= customer._id %>">
                    </a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="clearfix">
        <% if (pages > 1) { %>
        <ul class="pagination">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li><a href="?page=1" class="page-link">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a href="?page=<%= i %>" class="page-link"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li><a href="?page=<%= pages %>" class="page-link">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>